<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Usuario</h1>
</div>
    <label for="idUser">ID de Usuario: </label> <input id="idUser" class="idUser" type="text" >
    <br>
    <label for="nomUser">Nombre Usuario: </label> <input id="nomUser" class="nomUser" type="text" >
    <br>
    <label for="fechaNac">Fecha de Nacimiento: </label> <input id="fechaNac" class="fechaNac" type="date">
    <br>
    <label for="telefono">Telefono: </label> <input id="telefono" class="telefono" type="text" >
    <br>
    <label for="correo">Correo: </label> <input id="correo" class="correo" type="text" >
    <br>
    <label for="direccion">Direccion: </label> <input id="direccion" class="direccion" type="text" >
    <br>
    <label for="comuna">Comuna: </label> <input id="comuna" class="comuna" type="text" >
    <br>
    <label for="region">Region: </label> <input id="region" class="region" type="text" >
    <br>
    <label for="fechaCon">Fecha Contratacion: </label> <input id="fechaCon" class="fechaCon" type="date">
    <br>
    <label for="empleador">Empleador: </label> <input class="empleador" id="empleador" type="text" >
    <br>
    <label for="cargo">Cargo: </label> <input class="cargo" id="cargo" type="text" >
    <br>
    

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>