<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Funcion</h1>
</div>
    <label for="idFuncion">ID de la Funcion: </label> <input id="idFuncion" class="idFuncion" type="text" >
    <br>
    <label for="nomFuncion">Nombre de la Funcion: </label> <input id="nomFuncion" class="nomFuncion" type="text" >
    <br>
    <label for="desFuncion">Descripcion de la Funcion: </label> <input id="desFuncion" class="desFuncion" type="text" >
    <br>
    <label for="cargo">Cargo: </label> <input id="cargo" class="cargo" type="text" >
    

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>