<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Flujo</h1>
</div>
    <label for="Flujo">Nombre del flujo: </label> <input id="Flujo" class="Flujo" type="text" >
    <br>
    <label for="fechaCrea">Fecha Creacion: </label> <input id="fechaCrea" class="fechaCrea" type="date">
    <br>
    <label for="observacion">Descripcion de la Tarea: </label> <input id="observacion" class="observacion" type="text" >
    

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>