<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Tarea</h1>
</div>
    <label for="Tarea">Nombre de Tarea: </label> <input id="Tarea" class="Tarea" type="text" >
    <br>
    <label for="desTarea">Descripcion de la Tarea: </label> <input id="desTarea" class="Descripcion" type="text" >
    <br>
    <label for="asignar">Asignar tarea a:</label> <input class="asignar" id="asignar" type="text" >
    <br>
    <label for="fechaCrea">Fecha Creacion: </label> <input id="Tarea" class="Tarea" type="date" id="fechaCrea" >
    <br>
    <label for="prioridad"> Prioridad: </label> <label><input type="checkbox" value="">Alta</label><label><input type="checkbox" value="">Media</label><label><input type="checkbox" value="">Baja</label>
    <br>
    

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>