<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Cargo</h1>
</div>
    <label for="idCargo">ID de Cargo: </label> <input id="idCargo" class="idCargo" type="text" >
    <br>
    <label for="nomCargo">Nombre del Cargo: </label> <input id="nomCargo" class="nomCargo" type="text" >
    <br>
    <label for="desCargo">Descripcion del Cargo: </label> <input id="desCargo" class="desCargo" type="text" >
    

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>