<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Crear Empleador</h1>
</div>
    <label for="idEmp">ID del Empleador: </label> <input id="idEmp" class="idEmp" type="text" >
    <br>
    <label for="nomEmp">Nombre del Empleador: </label> <input id="nomEmp" class="nomEmp" type="text" >
    <br>
    <label for="rubro">Rubro: </label> <input id="rubro" class="rubro" type="text" >
    <br>
    <label for="direccion">Direccion: </label> <input id="direccion" class="direccion" type="text" >
    <br>
    <label for="comuna">Comuna: </label> <input id="comuna" class="comuna" type="text" >
    <br>
    <label for="region">Region: </label> <input id="region" class="region" type="text" >
    <br>
    <label for="razonsoc">Razon Social: </label> <input id="razonsoc" class="razonsoc" type="text" >

    <br>
    <br>
    
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Volver</button></a>
    <button type="button" class="btn btn-outline-primary">Crear </button>
    
    


</div>