<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 class="Titulo">Panel de Diseñador</h1>
    
</div>
<div>
<a href=""><button class="btn btn-primary btn-block">Crear Flujo</button></a>
<table class="table table-bordered">
<thead>
    <td>Nombre de Flujo</td>
    <td>Fecha de Creacion</td>
    <td>Observacion</td>
    <td>Acciones</td>
</thead>
<tbody>
    <td></td>
    <td></td>
    <td></td>
    <td><a href=""><button class="btn btn-success btn-xs ">Modificar</button></a> 
        <a href=""><button class="btn btn-danger btn-xs ">Eliminar</button></a>
    </td>
</tbody>
</table>




</div>