<div class="jumbotron jumbotron-fluid">
    
    <h1 class="Titulo">Panel de Administrador</h1>
    
</div>
    <div>
        <a href=""><button class="btn btn-primary btn-block">Mantenedor de usuarios</button></a>
        <br>
        <a href=""><button class="btn btn-primary btn-block">Mantenedor de Cargo</button></a>
        <br>
        <a href=""><button class="btn btn-primary btn-block">Mantenedor de Empleador</button></a>
        <br>
        <a href=""><button class="btn btn-primary btn-block">Mantenedor de Funciones</button></a>

</div>