<div class="centrar">
    <div class="jumbotron jumbotron-fluid">
    <h1>Bienvenidos al aplicativo de ...</h1>
</div>
    <input class="usuario" type="text" placeholder="Usuario">
    <input class="contraseña" type="password" placeholder="contraseña" aria-hidden="true">
    <br>
    <br>
    <button type="button" class="btn btn-outline-primary">Ingresar admin</button>
    <a href="#inicioFuncionario"><button type="button" class="btn btn-outline-primary">Ingresar funcionario</button></a>
    <button type="button" class="btn btn-outline-primary">Ingresar </button>
    
    <button type="button" class="btn btn-outline-info">Recuperar Clave</button>


</div>