<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 class="Titulo">Mantenedor Usuario</h1>
    
</div>
<div>
<a href=""><button class="btn btn-primary btn-block">Crear Usuario</button></a>
<table class="table table-bordered">
<thead>
    <td>ID de usuario</td>
    <td>Nombre del usuario</td>
    <td>Fecha de Nacimiento</td>
    <td>Telefonmo</td>
    <td>Correo</td>
    <td>Direccion</td>
    <td>Comuna</td>
    <td>Region</td>
    <td>Fecha de Contratacion</td>
    <td>Empleador</td>
    <td>Cargo</td>
    <td>Acciones</td>
</thead>
<tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href=""><button class="btn btn-success btn-xs pull-right">Modificar</button></a> 
        <a href=""><button class="btn btn-danger btn-xs pull-left">Eliminar</button></a>
    </td>
</tbody>
</table>




</div>