<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 class="Titulo">Mantenedor Cargo</h1>
    
</div>
<div>
<a href=""><button class="btn btn-primary btn-block">Crear Cargo</button></a>
<table class="table table-bordered">
<thead>
    <td>ID del Cargo</td>
    <td>Nombre del Cargo</td>
    <td>Descripcion del Cargo</td>
    <td>Acciones</td>
</thead>
<tbody>
    <td></td>
    <td></td>
    <td></td>
    <td><a href=""><button class="btn btn-success btn-xs pull-right">Modificar</button></a> 
        <a href=""><button class="btn btn-danger btn-xs pull-left">Eliminar</button></a>
    </td>
</tbody>
</table>




</div>