<div class="jumbotron jumbotron-fluid">
    <br>
    <h1 class="Titulo">Mantenedor Empleador</h1>
    
</div>
<div>
<a href=""><button class="btn btn-primary btn-block">Crear Cargo</button></a>
<table class="table table-bordered">
<thead>
    <td>ID del Empleador</td>
    <td>Nombre del Empleador</td>
    <td>Rubro</td>
    <td>Direccion</td>
    <td>Comuna</td>
    <td>Region</td>
    <td>Razon Social</td>
    <td>Acciones</td>
</thead>
<tbody>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href=""><button class="btn btn-success btn-xs pull-right">Modificar</button></a> 
        <a href=""><button class="btn btn-danger btn-xs pull-left">Eliminar</button></a>
    </td>
</tbody>
</table>




</div>